@model TimeSheet.ViewModel.ViewModelRelatorio


@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>Espelho de Ponto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <style type="text/css">
        * {
            font-family: Arial;
        }

        body {
            width: 100%;
            margin: 0 auto;
        }

        table {
            width: 100%;
            margin: 5px auto;
            border-collapse: collapse;
        }

        .table th, .table td {
            border: #000 1px solid;
            vertical-align: middle;
            padding: 3px 5px 3px 5px;
        }

        .text-left {
            text-align: left;
            font-size: 11px;
        }

        .text-right {
            text-align: right;
            font-size: 11px;
        }

        .text-center {
            text-align: center;
            font-size: 11px;
        }

        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        td {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-footer-group;
        }

        tbody {
            display: table-row-group;
        }
    </style>
</head>
<body>
    <table style="height:50px; text-align: center; font-size:20px;" class="table">
        <tr>
            <td><b>ESPELHO DE PONTO</b></td>
        </tr>
    </table>

    <table class="table">
        <tbody>
            <tr>
                <td class="text-left" style="font-size:14px;">
                    <b>Matrícula: @Model.user.SubjectId</b>
                </td>
                <td class="text-left" style="font-size:14px; width:650px;">
                    <b>Nome:  @Model.user.Nome</b>
                </td>
            </tr>
            <tr>
                <td class="text-left" colspan="2" style="font-size:14px;">
                    <b>Coordenação: @Model.user.Gerencia</b>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th colspan="6"><b>Fechamento</b></th>
            </tr>
            
                    <tr>
                        <th class="text-center">Data</th>
                        <th class="text-center">Horas Execedentes</th>
                        <th class="text-center">Atrasos</th>
                        <th class="text-center">Total Horas</th>
                        <th class="text-center">Divergência (S/N)</th>
                    </tr>

                </thead>
        <tbody>
            @if (Model != null)
            {@foreach (var item in Model.listFechamento)
                {
                    <tr>
                        <th scope="row">@item.Datafechamento</th>
                        <td>@item.TotalHoraExedente</td>
                        <td>@item.TotalAtraso</td>
                        <td>@item.TotalHora</td>
                        <td>@item.Divergencia</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th colspan="5"><b>Relógio</b></th>
            </tr>
            <tr>
                <th class="text-center">Data</th>
                <th class="text-center">Hora</th>
                <th class="text-center">Hora</th>
                <th class="text-center">Hora</th>
                <th class="text-center">Hora</th>
            </tr>
        </thead>
            <tbody>
                @if (Model != null)
                {
                    var datalancamento = "0";
                    var primeiraHora = TimeSpan.Parse("00:00:00");
                   @foreach (var item in Model.apontamento)
                   {
                     
                <tr>
                    @if (datalancamento != item.dataApontamento)
                    {
                        <th scope="row">@item.dataApontamento</th>
                        datalancamento = item.dataApontamento;
                        @foreach (var itemA in Model.apontamento)
                        {
                            @if (datalancamento == itemA.dataApontamento)
                            {
                                <td>@itemA.apontamento</td>
                            }
                            else
                            {
                                continue;
                            }
                        }
                    }
                </tr>
                    }
                }
            </tbody>
        </table>
    <table class="table">
        <thead>
            <tr>
                <th colspan="5"><b>Lançamentos</b></th>
            </tr>
            <tr>
                <th class="text-center">Data</th>
                <th class="text-center">Hora Início</th>
                <th class="text-center">Hora Fim</th>
                <th class="text-center">Projeto</th>
                <th class="text-center">Código Divergência</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model.listLancamento.OrderBy(x => x.DateFormatado))
                {
                    <tr>
                        <th scope="row">@item.DateFormatado</th>
                        <td>@item.HoraInicio</td>
                        <td>@item.HoraFim</td>
                        <td>@item.DescricaoEmp</td>
                        <td>@item.CodDivergencia</td>
                    </tr>

                    @if (item.Observacao != null)
                    {<tr>
                         <td class="text-left" colspan="5" style="font-size:18px;">
                             <b>
                                 Observação:
                             </b>
                             @item.Observacao
                         </td>
                    </tr>
                        }
                    }
            }
        </tbody>
    </table>
</body>
</html>
